.App {
  text-align: center;
}

.addUser {
  display: flex;
  justify-content: center;
}

.input {
  display: flex;
  margin-top: 10px;
  height: 30px;
  width: 300px;
}
.input::placeholder {
  text-align: center;  
}

.btn {
  margin-top: 10px;
  margin-left: 43.5%;

}